h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    }
p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    }
html {
  background: url(http://greghub.com/img/PaleBlueBackdrop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
